.alphaZone{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.navSector{
    width: 100%;
}

.detailBox{
    margin: 30px;
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    width: 50%;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
}
.flagBrick{
    display: flex;
    flex-wrap: wrap;
}
.countryBox{
    margin-left: 10px;
    border-radius: 10px;
}
.mainBox{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center;
}
.mainTitle{
    display: flex;
    justify-content: center;
}
.secondTitle{
    display: flex;
    justify-content: center;
}
.secondData{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
#P1{font-weight: bold;
font-size: large;}