.formPage{
  display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.formularyPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #0d6fa8 solid 1px;
    border-radius: 20px;
    margin: 20px;
    width: 80%;
   
}
.addForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.danger {
    color: red;
    font-size: 12px;
  }
  
  input.danger {
    border: 2px solid red;
  }

  .bannerUpdate{
    width: 50%;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #0d6fa8;
  }

  .bannerUpdate:active {
    color: #0d6fa8;
    background-color: #fff;
    border: 1px solid #0d6fa8;
  }