.homeBackground{
    background-image: url(wallpaper.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .homeButton {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #0d6fa8;
  background: linear-gradient(90deg, rgb(37, 83, 231) 0%, rgb(72, 134, 214) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(5, 7, 8, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .homeButton::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #0d6fa8;
    box-shadow: 0 0 60px rgba(5, 7, 8, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .homeButton:hover, .homeButton:focus {
    color: black;
    transform: translateY(-6px);
  }
  
  .homeButton:hover::before, homeButton:focus::before {
    opacity: 1;
  }
  
  .homeButton::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid gray;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .homeButton:hover::after, homeButton:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

