.inputSearch{
    margin-left: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: gray;
    color: antiquewhite;
    border-radius: 5px;
    font-size:medium;
}
.inputSearch::placeholder{
    color: antiquewhite;
}